.leaderboard-card {
    display:flex;
    border: 1px solid #EDEDED;
    padding: 1rem;
    width: 25%;
    border-radius: 10px;
    background: #20272b;
    color: #962bff;
  }

.card img {
    border-radius: 10px;
}